<!-- templates/home.html -->
{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="jumbotron mt-3">
    <h1 class="display-4">Welcome to PROCAR</h1>
    <p class="lead">Predicting whether your car is worth it or not.</p>
    <hr class="my-4" />
    <h3 class="display-5"> Our Services </h3>
    <p style="text-align: justify;">
      Harga mobil bekas dipengaruhi oleh beberapa faktor yang berkaitan dengan
      mobil itu sendiri, seperti jenis mobil, model, edisi, tahun produksi,
      transmisi, bahan bakar, kapasitas mesin, dan jarak tempuh. Harganya juga
      fluktuatif dan persaingan yang tinggi antar penjual mobil bekas,
      dibutuhkan alat untuk memprediksi harga mobil bekas secara akurat dan
      cepat. Tujuan dari penelitian ini untuk membantu&nbsp;show room&nbsp;mobil bekas
      dalam memprediski harga secara cepat dengan data&nbsp;history&nbsp;menggunakan
      metode&nbsp;Deep Neural Network&nbsp;(DNN) dengan tiga lapisan tersembunyi..
    </p>
  </div>
</div>
{% endblock %}
