{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<style> 
    .change-password-container {
    
    max-width: 400px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding to the container */
    border: 1px solid #ccc; /* Add a border around the container */
    border-radius: 8px; /* Add border radius for rounded corners */
    background-color: #151e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    color:white;
    
}
</style>
<body>
    <div class="container mt-5 change-password-container">
        <h2 class="text-center">Change Password</h2>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_old_password">Old Password</label>
                <input type="password" class="form-control" id="id_old_password" name="old_password">
            </div>
            <div class="form-group">
                <label for="id_new_password1">New Password</label>
                <input type="password" class="form-control" id="id_new_password1" name="new_password1">
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirm New Password</label>
                <input type="password" class="form-control" id="id_new_password2" name="new_password2">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Change Password</button>
        </form>
    </div>
</body>
</html>
